{% load i18n future mezzanine_tags %}
{% if LANGUAGES|length > 1 %}
{% get_language_info_list for LANGUAGES as languages %}
<li>
<form>
    <select id="id_language" onchange="window.location.href=this.value;">
        {% for lang in languages %}
        <option{% if LANGUAGE_CODE == lang.code %} selected="selected"{% endif %} value="{% translate_url lang.code %}">{{ lang.name_local }}</option>
        {% endfor %}
    </select>
</form>
</li>
{% endif %}
{% if dropdown_menu_sites and dropdown_menu_sites|length > 1 %}
<li>
<form action="{% url "set_site" %}">
<input type="hidden" name="next" value="{{ request.path }}">
<select name="site_id" onchange="this.form.submit();">
{% for site in dropdown_menu_sites %}
<option value="{{ site.id }}"
    {% if site.id == dropdown_menu_selected_site_id %} selected{% endif %}
    >{{ site }}</option>
{% endfor %}
</select>
</form>
</li>
{% endif %}
